/* ------- General stuff ------- */
@font-face {
	font-family: 'bebas_neueregular';
	src: url('../fonts/bebasneue_regular-webfont.eot');
	src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
	url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
	url('../fonts/bebasneue_regular-webfont.svg#bebas_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

html, body{height:100%;width:100%;}

/* ------- Header stuff ------- 
dark brown: 4E3218;
light brown: 7f5430;
dark yellow: e9b84d;
light yellow: efce7b;
dark green: 319a47;
light green: 4bb74a;
*/
.navbar .navbar-brand{
	font-family: 'bebas_neueregular';
	font-size: 2em;
	line-height: 80px;
	height:80px;
	padding:0 10px;
}
.navbar .navbar-brand img{
	margin-top:15px;
	height:50px;
	display: inline-block;
	vertical-align: baseline;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form,
.navbar .navbar-collapse, .navbar .navbar-form{
	border-top: 0;
	border-bottom: 0;
	box-shadow:none;
}
.navbar-inverse{
	background-color: #4E3218;
}
header{
	padding:5px;
	height:80px;
}

main{
	height:100%;
}


#map-canvas{
	height:100%;
	margin: 0;
	padding: 0;
	min-height: 700px
}

#currentModal .modal-title{
	color: #333;
}

#currentModal dt, #currentModal dd{display: inline-block;}

.modal-dialog {
	color:black;
}

#currentModal .modal-picture img{
	width:600px;
	margin-left:-24px;
	float:left;
}

#currentModal .overlap{
	width:600px;
	height:455px;
	margin-left:-24px;
}

#currentModal .modal-picture .overlap .alphaover{
	position:relative;
	top:0;
	width:100%;
	background:rgba(0,0,0,0.5);
	box-shadow: inset 0px -1px 1px 0px #FFFFFF;
	height:100%;
	overflow: visible!important;
}

#currentModal  .modal-picture .percentage{
	color: #4bb74a;
	height: 30px;
	font-weight: bold;
	position: fixed;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	font-size: 30px;
}
#currentModal .modal-body .modal-desc{
	margin-top: 35px;
}

#currentModal .modal-footer{text-align: center}

.btn-success:not(.btn-link):not(.btn-flat) {
	background-color: #319a47;
}

.btn-info:not(.btn-link):not(.btn-flat){
	background-color: #4bb74a;
}

.nav-tabs{
	background: none repeat scroll 0% 0% #319a47;
}

.form-control{
	color: #757575;
}
.panel-primary > .panel-heading{
	background-color: #319a47;
}
.bedroom{
	background-image: url('../img/bedroom/chambreavecobjet.png');
	background-size: cover;
	display: block;
	width: 100%;
	height: 805px;
	position: relative;
}
.globe{
	cursor: pointer;
	display: block;
	position: absolute;
	right: -11px;
	top: 277px;
}
.journal{
	display: block;
	cursor: pointer;
	position: absolute;
	right: 278px;
	top: 439px;
}
.carnet{
	display: block;
	cursor: pointer;
	position: absolute;
	right: 147px;
	top: 492px;
}
.ordi{
	cursor: pointer;
	display: block;
	left: 60px;
	top: 274px;
	position: absolute;

}

.map-info{
	position: absolute;
	bottom: 5%;
	right: 10%;
}

.tr_agriculture{
	cursor: pointer;
	display: block;
left: 589px;
top: 283px;
	position: absolute;
	z-index: 0;
}
.tr_enfant{
	cursor: pointer;
	display: block;
left: 644px;
top: 109px;
	position: absolute;
	z-index: 0;
}
.tr_cartable{
	cursor: pointer;
	display: block;
left: 450px;
top: -20px;
	position: absolute;
	z-index: 0;
}

a.tooltip {outline:none; } a.tooltip strong {line-height:30px;} a.tooltip:hover {text-decoration:none;} a.tooltip span { display:none; padding:14px 20px; margin-top:0px; margin-left:0px; width:300px; line-height:16px; } a.tooltip:hover span{ display:inline; position:absolute; color:#111; border:1px solid #DCA; background:#fffAF0;} .callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;} /*CSS3 extras*/ a.tooltip span { border-radius:4px; box-shadow: 5px 5px 8px #CCC; }

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 15%;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay div {
	padding-left:5%;
	padding-right: 5%;  
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


.overlay p, .overlay h2 {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay div p {
	font-size: 20px;
	/* font-weight: 300; */
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	     text-align: justify;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #f0f0f0;
}

/* Effects */
.overlay-scale {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
	transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);	
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}