{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}About us{% endblock %}


    {% block main %}
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <br>
                <div class="col-md-8">
                    <h1>About Us:</h1>                      
                    <p>Hey everyone and welcome to our website HereWeGo !<br>
HereWeGo is a crowfunding website supporting humanitarian actions on a worldwide scale based on a strong idea : transparency.<br>
On this map, you can see the different humanitarian projects led around the world. Therefore, don’t be shy and just come explore the world as it is ! Share your generosity with the entire world in a single click. Inform yourself about the registered projects and feel free to donate for a better world !<br>
Don’t forget to register in order to donate, and you’ll get the access to a private space offering many functionalities : the following of donations, the possibility to tchat with the benificiaries, …<br>
Because … HereWeGo is useful anytime, anywhere!
</p>
                    <br>    
                </div>
                <div class="col-md-4">
                    <a class="twitter-timeline"
                      href="https://twitter.com/twitterdev"
                      data-widget-id="540668268491845632">
                    Tweets by @twitterdev
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZGzMnDE4S3vM-ll0-A1IPAV3TIQmADhE"></script>
    <script type="text/javascript" src="/assets/js/map.js"></script> 
<script type="text/javascript">
window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>
{% endblock %}