{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}New cause{% endblock %}


{% block main %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
              <h2>Cause</h2>
          <form class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group">
                <label class="col-sm-3 control-label" for="cause-name">Nom cause</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="cause-name" id="cause-name" placeholder="Nom cause">
                </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cause-obj">Obj cause</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="cause-obj" id="cause-obj" placeholder="Obj cause">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cause-desc">Description cause</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="3" id="cause-desc">
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cause-montant">Montant cause</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="cause-montant" id="cause-montant" placeholder="Montant cause">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cause-lat">latitude cause</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="cause-lat" id="cause-lat" placeholder="latitude cause">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cause-long">longitude cause</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="cause-long" id="cause-long" placeholder="longitude cause">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-xs-3">
                            <select class="form-control col-sm-2" name="expiry-month" id="expiry-month" >
                            <option>Month</option>
                            <option value="01">Jan (01)</option>
                            <option value="02">Feb (02)</option>
                            <option value="03">Mar (03)</option>
                            <option value="04">Apr (04)</option>
                            <option value="05">May (05)</option>
                            <option value="06">June (06)</option>
                            <option value="07">July (07)</option>
                            <option value="08">Aug (08)</option>
                            <option value="09">Sep (09)</option>
                            <option value="10">Oct (10)</option>
                            <option value="11">Nov (11)</option>
                            <option value="12">Dec (12)</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                          <select class="form-control" name="expiry-year" id="expiry-year">
                            <option>Year</option>
                            <option value="13">2013</option>
                            <option value="14">2014</option>
                            <option value="15">2015</option>
                            <option value="16">2016</option>
                            <option value="17">2017</option>
                            <option value="18">2018</option>
                            <option value="19">2019</option>
                            <option value="20">2020</option>
                            <option value="21">2021</option>
                            <option value="22">2022</option>
                            <option value="23">2023</option>
                          </select>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="cause-categ">Categorie</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-xs-3">
                            <select class="form-control col-sm-2" name="cause-categ" id="cause-categ" >
                                <option>Categorie</option>
                                <option value="01">Guerre</option>
                                <option value="02">Fondation</option>
                            </select>
                        </div>
                      </div>
                    </div>
                </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="button" class="btn btn-success">Create your Cause</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>        
      </div>
    </div>
{% endblock %}

