{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}My Causes{% endblock %}


    {% block main %}
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <br>
                <div class="col-md-8">
                    <article>
                        <h2>Causes #2</h2>
                        <img src="/assets/img/cause2.jpg" alt="photo">
                        <p>This is really a great cause because it's pretty, and it's in australia and there are koalas and kangaroos, which are pretty nice creatures.</p>
                        <strong> Pledged: </strong>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                        </div>
                        <strong>
                            Amount: 400e
                        </strong>
                        <br>    
                        <a class="btn btn-info" href="/payment_2">Give Money</a>
                    </article>            
                </div>
{#                 <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">My infos</h3>
                        </div>
                        <div class="panel-body">
                            Total de mes dons:400e
                        </div>
                    </div>
                </div> #}
            </div>
        </div>
    {% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZGzMnDE4S3vM-ll0-A1IPAV3TIQmADhE"></script>
    <script type="text/javascript" src="/assets/js/map.js"></script> 

{% endblock %}