{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}News{% endblock %}


    {% block main %}
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <br>
                <div class="col-md-8">
                    <h1>News:</h1>
                    <article>
                        <h2>100th donation !</h2>Friday, December the 5th
                        <p>
The number of donation in the website has exceeded 100! Many thanks to all our generous donators !</p>
                        
                        <br>
                        <a class="btn btn-info" href="/map">View map</a>
                    </article>
                    <article>
                        <h2>Reopening of Saint-Joseph catholic hospital in Liberia !
</h2>Thursday, December the 4th

                        <p>The fight against ebola continues in western Africa. The catholic hospital Saint-Joseph has reopened today. Being forced to close because of the death of a large part of the staff, the hospital will have 8 places available in its maternity.
</p>
                        <br>    
                        <a class="btn btn-info" href="/map">View map</a>
                    </article>
                </div>
                <div class="col-md-4">
                    <a class="twitter-timeline"
                      href="https://twitter.com/twitterdev"
                      data-widget-id="540668268491845632">
                    Tweets by @twitterdev
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZGzMnDE4S3vM-ll0-A1IPAV3TIQmADhE"></script>
    <script type="text/javascript" src="/assets/js/map.js"></script> 
<script type="text/javascript">
window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>
{% endblock %}