{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}


	{% block main %}
		<div id="map-canvas"></div>
		<button id="trigger-overlay" class="btn btn-default btn-info sucess map-info" type="button">Open information</button>
		<div class="overlay overlay-scale">
		<button type="button" class="overlay-close">Close</button>
		<div>
			<h2>Hey everyone and welcome to our website HereWeGo !</h2>
<p>HereWeGo is a crowfunding website supporting humanitarian actions on a worldwide scale based on a strong idea : transparency.<br>
On this map, you can see the different humanitarian projects led around the world. Therefore, don’t be shy and just come explore the world as it is ! Share your generosity with the entire world in a single click. Inform yourself about the registered projects and feel free to donate for a better world !<br><br>
Don’t forget to register in order to donate, and you’ll get the access to a private space offering many functionalities : the following of donations, the possibility to tchat with the benificiaries, …
Because … HereWeGo is useful anytime, anywhere!</p>

			
		</div>
		</div>
		{% include 'modal.html.twig' %}
	{% endblock %}

	{% block js %}
		{{ parent() }}
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZGzMnDE4S3vM-ll0-A1IPAV3TIQmADhE"></script>
		<script type="text/javascript" src="/assets/js/map.js"></script>
		<script type="text/javascript" src="/assets/js/classie.js"></script>
		<script type="text/javascript" src="/assets/js/demo1.js"></script>
	{% endblock %}
