{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}Register{% endblock %}


    {% block main %}
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-12">
                <h2>You are ...</h2>
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Donnor</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">NGO</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <form class="form-horizontal" role="form" action="{{ url('register_post') }}" method="POST">
                                <fieldset>
                                    <legend>Register giver</legend>
                                    <input type="hidden" name="type" value="Donnor">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="user-firstname">First Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="user-firstname" placeholder="First Name">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="user-name">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="user-name" placeholder="Name">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="user-long">Longitude</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" name="user-long" placeholder="Longitude">
                                        </div>
                                   </div>
                                    <div class="form-group">
                                      <label class="col-sm-3 control-label" for="user-lat">Latitude</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" name="user-lat" placeholder="Latitude">
                                      </div>
                                  </div>
                                     <div class="form-group">
                                        <label class="col-sm-3 control-label" for="user-email">E-mail</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="user-email"  placeholder="E-mail address">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="user-password">Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="user-password" placeholder="Password">
                                        </div>
                                    </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <button type="submit" class="btn btn-success">Register</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <form class="form-horizontal" role="form" action="{{ url('register_post') }}" method="POST">
                                <fieldset>
                                    <legend>Register NGO</legend>
                                    <input type="hidden" name="type" value="NGO">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ong-intitule">Business Name</label>
                                        <div class="col-sm-9">
                                          <input type="text" class="form-control" name="ong-intitule" placeholder="Business Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ong-description">Description</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" rows="3" id="ong-description"> </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ong-age">Adress</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="ong-age" placeholder="Adress">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ong-age">City</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="ong-age" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ong-age">Country</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="ong-age" placeholder="Country">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="user-email">E-mail</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="user-email"  placeholder="E-mail address">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="user-password">Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="user-password" placeholder="Password">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                          <button type="submit" class="btn btn-success">Register</button>
                                      </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

