<!DOCTYPE html>
<html lang="fr">
    <head>
    	<title>{% block name %}Here We Go! {% endblock %}{% block title %}| {% endblock %}</title>
        <meta charset="UTF-8">

        <meta name="description" content="{% block desc %}Here we go! is a humanitarian website based on crowdfunding for people.{% endblock %}">
    	<meta name="author" content="{% block author %}The Popeye's{% endblock %}">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@The_Popey_Info">
		<meta name="twitter:title" content="{{ block('name') }}">
		<meta name="twitter:description" content="{{ block('desc') }}">
		<meta name="twitter:creator" content="@The_Popey_Info">
		<!-- Twitter Summary card images must be at least 200x200px -->
		<meta name="twitter:image" content="http://193.54.15.145/Nuitinfo/team-1.php">

		<!-- Open Graph data -->
		<meta property="og:title" content="{{ block('title') }}" />
		<meta property="og:type" content="nonprofit" />
		<meta property="og:url" content="http://dev.herewego.com/" />
		<meta property="og:image" content="assets/logo.jpg" />
		<meta property="og:description" content="{{ block('desc') }}" />
		<meta property="og:site_name" content="{{ block('name') }}" />
		<meta property="fb:admins" content="helene.godart,nicolas.viard" /> 

		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico" />
		<link rel="icon" href="assets/img/favicon.ico">
		<link rel="apple-touch-icon" href="assets/img/logo.png" />

{% block css %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.0/css/ripples.min.css" rel="stylesheet">
    	<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.0/css/material-wfont.min.css" rel="stylesheet">
    	    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">
    	<link rel="stylesheet" href="assets/css/animate.css" type="text/css">
    	<link rel="stylesheet" href="assets/css/main.css" type="text/css">
{% endblock %}
        <script src="assets/js/modernizr.custom.js"></script>

    </head>
    <body>
    <div id="fb-root"></div>
	<script>
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=322363351284475&version=v2.2";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
{% block header %}
	
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		      <div class="container">
		        <div class="navbar-header">
		          <p class="navbar-brand"><a href="/"><img src="assets/img/logo.png" alt="{{ block('name') }}"></a>{{ block('title') }}</p>
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		          </button>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		        	{% if username is not defined %}
		        		<form method="POST" class="navbar-form navbar-right" role="form" action="/connexion">
		        			<div class="form-group">
		        				<input name="email" type="text" placeholder="Email" class="form-control">
		        			</div>
		        			<div class="form-group">
		        				<input name="pswd" type="password" placeholder="Password" class="form-control">
		        			</div>
		        			<button type="submit" class="btn btn-success">Sign in</button>
		        			<a href="/register" class="btn btn-info">Register</a>
		        		</form>
		          	{% else %}
		          		<form action="">Bienvenue {{username}}</form>
						
		      		{% endif %}
		        </div><!--/.navbar-collapse -->
		      </div>
		    </nav>
		</header>
{% endblock %}


		<main>
{% if msg_success is defined %}
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ msg_success }}
		</div>
{% endif %}
{% if msg_info is defined %}
		<div class="alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ msg_info }}
		</div>
{% endif %}
{% if msg_warning is defined %}
		<div class="alert alert-warning alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ msg_warning }}
		</div>
{% endif %}
{% if msg_danger is defined %}
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			{{ msg_danger }}
		</div>
{% endif %}
{% block main %}{% endblock %}
		</main>


{% block footer %}
	<footer>
		<div class="container">
			<ul class="list-inline">
			<li><a href="/aboutus">About us</a></li>
			<li><a href="/profile_2">My Profile</a></li>
			<li><a href="/homepage">News</a></li>
			<li><a href="/causeCreation">Create cause</a></li>
			<li>Copyright 2014 - Here we go</a></li>
			</ul>
		</div>
	</footer>
{% endblock %}

{% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.0/js/ripples.min.js" ></script>
	    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.0/js/material.min.js" ></script>
        <script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
    	<script>
      		$("#expiry-month").dropdown();
      		$("#expiry-year").dropdown();
      		$("#cause-categ").dropdown();
    	</script>
    	<script>
      		$.material.init();
    	</script>
{% endblock %}
    </body>
</html>
