<article class="modal fade" id="currentModal" tabindex="-1" role="dialog" aria-labelledby="modalNomLieu" aria-hidden="true">
    <div class="modal-dialog" data-dismiss="modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-name"></h2>
            </div>
            <div class="modal-body">
            	<dl>
            		<dt>Amount:</dt>
            		<dd class="modal-amount"></dd>
            		<dt>Objective:</dt>
            		<dd class="modal-obj"></dd>
            		<dt>Link:</dt>
            		<dd class="modal-link"><a href="/causeDesc_2">Clic here</a></dd>
            	</dl>

            	<div class="modal-picture">
					<img src="" alt="" />
					<div class="overlap">
						<div class="alphaover"></div>
						<p class="percentage"></p>
					</div>
            	</div>
            	<p class="modal-desc"></p>
            </div>
            <div class="modal-footer">
            	<a href="#" class="modal-help btn btn-info">Here we Help!</a>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modal-submit">Send message</button>-->
            </div>
        </div>
    </div>
</article>