{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}News{% endblock %}


    {% block main %}
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <br>
                <div class="col-md-8">
                    <h1>News</h1>
                    <article>
                        <h2>Causes #1</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <strong> Avancement: </strong>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                        </div>
                        <strong>
                            Montant: 400e
                        </strong>
                        <br>
                        <a class="btn btn-info" href="/cause/id">More details</a>
                    </article>
                    <article>
                        <h2>Causes #2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <strong> Avancement: </strong>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                        </div>
                        <strong>
                            Montant: 400e
                        </strong>
                        <br>    
                        <a class="btn btn-info" href="/cause/id">More details</a>
                
                    </article>            
                    <h1>Map</h1>
                    <div id="map-canvas"></div>
                </div>
                <div class="col-md-4">
                    <a class="twitter-timeline"
                      href="https://twitter.com/twitterdev"
                      data-widget-id="540668268491845632">
                    Tweets by @twitterdev
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZGzMnDE4S3vM-ll0-A1IPAV3TIQmADhE"></script>
    <script type="text/javascript" src="/assets/js/map.js"></script> 
<script type="text/javascript">
window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>
{% endblock %}