{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}My Profile{% endblock %}


    {% block main %}
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <br>
                <div class="col-md-12">
                    <h2>My profile</h2>
                    <div class="bedroom">
                        <a href="/map" class="globe"><img src="/assets/img/bedroom/globe.png" alt="globe"></a>
                        <a href="/homepage" class="journal"><img src="/assets/img/bedroom/journal.png" alt="journal"></a>
                        <div class="ordi"><img src="/assets/img/bedroom/Ordi_portable.png" alt="ordi" width="32%"></div>
                        <div class="carnet"><img src="/assets/img/bedroom/carnet.png" alt="carnet"></div>
                        <a href="#" class="tr_agriculture tooltip"><img src="/assets/img/bedroom/agriculture.png" alt="agriculture" width="25%"><span>  Vous avez réalisé un don aidant un développement agricole ou de type alimentaire </span></a>
                        <a href="#" class="tr_cartable tooltip"><img src="/assets/img/bedroom/cartable.png" alt="cartable" width="25%"><span>  Vous avez réalisé un don aidant à la (re)construction d'une école </span></a>
                        <a href="#" class="tr_enfant tooltip"> <img src="/assets/img/bedroom/enfant.png" alt="enfant" width="25%"> <span>  Vous avez parrainé un enfant. N'oubliez pas de prendre soin de celui-ci. </span></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="lastGift" tabindex="-1" role="dialog" aria-labelledby="modalLastGift" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h2 class="modal-name">Last donnation</h2>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">1. Donation for Cause #1</h3>
                            </div>
                            <div class="panel-body">
                                Progress:
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" style="width: 100%"></div>
                                </div>
                                Amout: 400€

                                <h2>Well play!</h2>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">1. Donation for <a href="/causeDesc">Cause #2</a></h3>
                            </div>
                            <div class="panel-body">
                                Progress:
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" style="width: 20%"></div>
                                </div>
                                Amout: 400€
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZGzMnDE4S3vM-ll0-A1IPAV3TIQmADhE"></script>
    <script type="text/javascript" src="/assets/js/map.js"></script> 
    <script type="text/javascript">
    $( ".carnet, .ordi , .journal , .globe" ).hover(
        function() {
                    $(this).addClass('animated pulse');
        }, function() {
                    $(this).removeClass('animated pulse');
        }
    );

           $('.carnet').on('click', function (e) {
                $('#lastGift').modal('toggle');
            });
    </script>
{% endblock %}